{% extends "base.html" %}
{% block content %}
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>

  {% include 'article_info.html' %}

  <div class="entry-content">
    {{ article.content }}
  </div>
  <hr/>
{% include 'disqus.html' %}
</section>
{% endblock %}
