body         { font-family: 'Droid Sans', sans-serif; font-size: 18px; color: #444; }

h1, h2, h3, h4 {
	font-family: 'Podkova', serif; font-weight: normal; color: #222;
}

h1           { font-size: 50px; margin: 15px 0 5px 0; }
h2           { font-size: 35px; margin: 15px 0 5px 0; }
h3           { font-size: 24px; margin: 15px 0 5px 0; }
h4           { font-size: 19px; margin: 15px 0 5px 0; }

#banner h1 {
	font-size: 75px;
	margin: 40px;
	text-align: center;
}

#footer {
    margin-top: 20px;
}

footer {
    margin-bottom: 20px;
}

.info-article {
	margin-top: 3px;
	margin-bottom: 11px;
	font-size: 14px;
}

abbr, address {
	display: inline;
}
.tag-list {
	margin-left: 30px;
}

/* Inset, by Dan Eden */ 
hr { border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); 
              border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

/* For align center */
.align-center { display: block;
                margin-left: auto;
                margin-right: auto}